footer {
    border-top: 1px solid #dadada;

    .footer-social-media-icon-container{
        height: 40px;
    }
    
    .footer-social-media-icon {
        width: 30px;
        height: 30px;
    }

    .footer-social-media-icon:not(:first-child) {
        margin-left: 20px;
    }
}

@media (max-width: 800px) {
    footer {
        .slice{
            margin-bottom: 40px;
        }
    }
}