/* 
==========================================================================
== Change the style of the navbar
==========================================================================
*/

.navbar {
    background-color: white !important;
    padding: 0;
    line-height: 70px;
    z-index: 500;
    border-bottom: 1px solid #eee;
}

@media (max-width: 991px) {
    .navbar-nav {
        height: 70px;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        height: 70px;
    }
}

.navbar a {
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}

.navbar > .company {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    height: 100%;
    border: 0;
    border-right: 1px solid #eee;
}

.navbar .user {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 300px;
    border: 0 !important;
    border-radius: 0;
    border-left: 1px solid #eee !important;
    background-color: transparent !important;
    color: #333 !important;
    box-shadow: none !important;
    display: flex;
}

.navbar .user:active,
.navbar .user[aria-expanded="true"] {
    background-color: #060b14 !important;
    color: white !important;
}

.navbar .user::after {
    content: none;
}

.navbar .user img {
    height: 70px;
    width: 70px;
    /*filter: grayscale(100%);*/
}

.navbar .user:active img,
.navbar .user[aria-expanded="true"] img {
    /*filter: grayscale(0%);*/
}

.navbar .user.dropdown-toggle.btn.btn-primary{
    align-items: center;
}

.navbar-toggler {
    border-radius: 0;
    border: 0px solid transparent;
    background-color: transparent;
    height: 50px;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 17px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
}

.navbar-collapse a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

@media (max-width: 991px) {
    .navbar-collapse {
        background-color: white;
        border-bottom: 1px solid #333;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .navbar-collapse a {
        padding-left: 10px !important;
        padding-right: 30px !important;
    }
    .navbar-collapse a:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
    .navbar-brand:not(:first-child) {
        margin-left: 0px;
        max-width: 200px;
    }
}

@media (max-width: 420px) {
    .navbar-brand:not(:first-child) img:not(:first-child) {
        visibility: hidden;
        display: none !important;
    }
}

@media (min-width: 992px) {
    .navbar .megamenu {
        position: static !important;
    }
    .navbar .megamenu .dropdown-menu {
        left: 5%;
        right: 0;
        width: 90%;
        margin-top: 0;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 991px) {
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

.navbar .megamenu .dropdown-menu a{
    padding: 0 !important;
    margin: 0 !important;
}

.navbar .megamenu .dropdown-menu .megamenu-title {
    font-weight: bold;
    line-height: 30px;
    margin-top: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.navbar .megamenu .dropdown-menu .megamenu-link {
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.company.navbar-brand{
    display: flex;
}